<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_HealthCheck>
            <version>0.1.0</version>
        </Hackathon_HealthCheck>
    </modules>
    <global>
        <models>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Model</class>
            </hackathon_healthcheck>
        </models>
        <blocks>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Block</class>
            </hackathon_healthcheck>
        </blocks>
        <helpers>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Helper</class>
            </hackathon_healthcheck>
        </helpers>

        <!-- PLUGIN CONFIG -->
        <healthcheck>
            <sitemap>
                <model>hackathon_healthcheck/check_sitemap</model>

                <versions>
                    <version>1.4</version>
                    <version>1.5</version>
                    <version>1.6</version>
                    <version>1.7.0.2</version>
                </versions>

                <!--
                    static|ondemand
                -->
                <type>static</type>

                <!--
                 plaintext
                 piechart
                 barchart
                 donutchart
                 table
                -->
                <content_type>table</content_type>
            </sitemap>
        </healthcheck>

        <!-- PLUGIN CONFIG END -->

    </global>
    <adminhtml>
        <layout>
            <updates>
                <Hackathon_HealthCheck>
                    <file>hackathon/healthcheck/layout.xml</file>
                </Hackathon_HealthCheck>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <hackathon_healthcheck>
                <use>admin</use>
                <args>
                    <module>Hackathon_HealthCheck</module>
                    <frontName>healthcheck</frontName>
                </args>
            </hackathon_healthcheck>
        </routers>
    </admin>
</config>