<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_HealthCheck>
            <version>0.1.0</version>
        </Hackathon_HealthCheck>
    </modules>
    <global>
        <models>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Model</class>
            </hackathon_healthcheck>
        </models>
        <blocks>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Block</class>
            </hackathon_healthcheck>
        </blocks>
        <helpers>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Helper</class>
            </hackathon_healthcheck>
        </helpers>

        <!-- PLUGIN CONFIG -->

        <healthcheck>

            <htaccess>
                <model>hackathon_healthcheck/check_htaccess</model>
                <type>static</type>
                <versions>
                    *
                </versions>
                <content_type>table</content_type>
                <title>.htaccess</title>
            </htaccess>

            <sitemap>
                <model>hackathon_healthcheck/check_sitemap</model>
                <versions>
                    *
                    1.6.2
                    1.3*
                    1.7.0*
                </versions>
                <type>static</type>
                <content_type>table</content_type>
                <title>Sitemap</title>
            </sitemap>

            <producttypes>
                <active>false</active>
                <model>hackathon_healthcheck/check_producttypes</model>
                <type>ondemand</type>
                <content_type>piechart</content_type>
                <title>Product Types</title>
            </producttypes>

            <logfilesize>
                <active>false</active>
                <model>hackathon_healthcheck/check_logfilesize</model>
                <type>ondemand</type>
                <content_type>barchart</content_type>
                <title>Logfile Size</title>
            </logfilesize>


            <shop_configuration>
                <model>hackathon_healthcheck/check_shopConfiguration</model>
                <type>static</type>
                <content_type>table</content_type>
                <title>Shop Configuration</title>
                <values>
                    <flat_table_products>
                        <path>catalog/frontend/flat_catalog_category</path>
                        <recommendation>1</recommendation>
                    </flat_table_products>
                    <flat_table_categories>
                        <path>catalog/frontend/flat_catalog_category</path>
                        <recommendation>1</recommendation>
                    </flat_table_categories>
                </values>
            </shop_configuration>
        </healthcheck>

        <!-- PLUGIN CONFIG END -->

    </global>
    <adminhtml>
        <layout>
            <updates>
                <Hackathon_HealthCheck>
                    <file>hackathon/healthcheck/layout.xml</file>
                </Hackathon_HealthCheck>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <hackathon_healthcheck>
                <use>admin</use>
                <args>
                    <module>Hackathon_HealthCheck</module>
                    <frontName>healthcheck</frontName>
                </args>
            </hackathon_healthcheck>
        </routers>
    </admin>

    <adminhtml>

        <translate>
            <modules>
                <Hackathon_HealthCheck>
                    <files>
                        <default>Hackathon_HealthCheck.csv</default>
                    </files>
                </Hackathon_HealthCheck>
            </modules>
        </translate>

    </adminhtml>
</config>