<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_HealthCheck>
            <version>0.1.0</version>
        </Hackathon_HealthCheck>
    </modules>
    <global>
        <models>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Model</class>
            </hackathon_healthcheck>
        </models>
        <blocks>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Block</class>
            </hackathon_healthcheck>
        </blocks>
        <helpers>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Helper</class>
            </hackathon_healthcheck>
        </helpers>

        <!-- PLUGIN CONFIG -->

        <healthcheck>

            <shop_status>
                <model>hackathon_healthcheck/check_shopStatus</model>
                <type>ondemand</type>
                <versions>
                    *
                </versions>
                <content_type>table</content_type>
                <title>Shop-Status</title>
                <sort_order>2</sort_order>
            </shop_status>

            <sitemap>
                <model>hackathon_healthcheck/check_sitemap</model>
                <versions>
                    *
                    1.6.2
                    1.3*
                    1.7.0*
                </versions>
                <type>static</type>
                <content_type>table</content_type>
                <title>Sitemap</title>
                <sort_order>3</sort_order>
            </sitemap>

            <producttypes>
                <active>true</active>
                <model>hackathon_healthcheck/check_producttypes</model>
                <type>ondemand</type>
                <content_type>donutchart</content_type>
                <title>Product Types</title>
                <sort_order>4</sort_order>
            </producttypes>

            <logfilesize>
                <active>true</active>
                <model>hackathon_healthcheck/check_logfilesize</model>
                <type>ondemand</type>
                <content_type>barchart</content_type>
                <title>Logfile Size</title>
                <sort_order>25</sort_order>
            </logfilesize>

            <mediasize>
                <model>hackathon_healthcheck/check_mediasize</model>
                <type>static</type>
                <content_type>table</content_type>
                <title>Media Dir Size</title>
            </mediasize>
            
            <shop_configuration>
                <model>hackathon_healthcheck/check_shopConfiguration</model>
                <type>static</type>
                <content_type>table</content_type>
                <title>Shop Configuration</title>
                <values>
                    <flat_table_product>
                        <path>catalog/frontend/flat_catalog_product</path>
                        <recommendation>1</recommendation>
                    </flat_table_product>
                    <flat_table_category>
                        <path>catalog/frontend/flat_catalog_category</path>
                        <recommendation>1</recommendation>
                    </flat_table_category>
                    <system_smtp_disable>
                        <path>system/smtp/disable</path>
                        <recommendation>0</recommendation>
                    </system_smtp_disable>
                    <dev_log_active>
                        <path>dev/log/active</path>
                        <recommendation>1</recommendation>
                    </dev_log_active>
                    <dev_js_merge_files>
                        <path>dev/js/merge_files</path>
                        <recommendation>1</recommendation>
                    </dev_js_merge_files>
                    <dev_css_merge_css_files>
                        <path>dev/css/merge_css_files</path>
                        <recommendation>1</recommendation>
                    </dev_css_merge_css_files>
                </values>
                <sort_order>1</sort_order>
            </shop_configuration>
        </healthcheck>

        <!-- PLUGIN CONFIG END -->

    </global>
    <adminhtml>
        <layout>
            <updates>
                <Hackathon_HealthCheck>
                    <file>hackathon/healthcheck/layout.xml</file>
                </Hackathon_HealthCheck>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <hackathon_healthcheck>
                <use>admin</use>
                <args>
                    <module>Hackathon_HealthCheck</module>
                    <frontName>healthcheck</frontName>
                </args>
            </hackathon_healthcheck>
        </routers>
    </admin>

    <adminhtml>

        <translate>
            <modules>
                <Hackathon_HealthCheck>
                    <files>
                        <default>Hackathon_HealthCheck.csv</default>
                    </files>
                </Hackathon_HealthCheck>
            </modules>
        </translate>

    </adminhtml>
</config>