<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_HealthCheck>
            <version>0.1.0</version>
        </Hackathon_HealthCheck>
    </modules>
    <global>
        <models>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Model</class>
                <resourceModel>hackathon_healthcheck_resource</resourceModel>
            </hackathon_healthcheck>
            <hackathon_healthcheck_resource>
                <class>Hackathon_HealthCheck_Model_Resource</class>
            </hackathon_healthcheck_resource>
        </models>
        <helpers>
            <hackathon_healthcheck>
                <class>Hackathon_HealthCheck_Helper</class>
            </hackathon_healthcheck>
        </helpers>

        <!-- PLUGIN CONFIG -->
        <healthcheck>
            <sitemap>
                <model>hackathon_healthcheck/check_sitemap</model>

                <versions>
                    <version>1.4</version>
                    <version>1.5</version>
                    <version>1.6</version>
                    <version>1.7.0.2</version>
                </versions>
            </sitemap>
            <!--
                static|ondemand
            -->
            <type>static</type>

            <!--
             plaintext
             piechart
             barchart
             donutchart
             table
            -->
            <display-type>plaintext</display-type>
        </healthcheck>
        <!-- PLUGIN CONFIG END -->

    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hackathon_HealthCheck before="Mage_Adminhtml">Hackathon_HealthCheck_Adminhtml</Hackathon_HealthCheck>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>